<!doctype html>
<html>
<head>
<title>Proper Title</title>
<style>
	#selectedFiles img {
		max-width: 200px;
		max-height: 200px;
		float: left;
		margin-bottom:10px;
	}
</style>
</head>
<body>

	<form id="myForm" method="post">
        Files: <input type="file" id="files" name="files[]" multiple><br/>
        <div id="selectedFiles"></div>
        <input style="margin-top:20px;" type="submit">
	</form>

  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script>

	var selDiv = "";
	var storedFiles = [];

	$(document).ready(function() {

		$("#files").on("change", handleFileSelect);
		
		selDiv = $("#selectedFiles"); 
		$("#myForm").on("submit", handleForm);
		
		$("body").on("click", ".selFile", removeFile);

	});
	
	/*Preview images/double check before upload to server*/	
	function handleFileSelect(e) {
		var files = e.target.files;
    // parse FileList to array
		storedFiles = Array.from(files);
    console.log({ storedFiles  });
    //begin show image preview
		storedFiles.forEach(function(f) {			
			if(!f.type.match("image.*")) {
				return;
			}
			var reader = new FileReader();
			reader.onload = function (e) {
				var html = "<div><img src=\"" + e.target.result + "\" data-file='"+f.name+"' class='selFile' title='Click to remove'>" + f.name + "<br clear=\"left\"/></div>";
				selDiv.append(html);
			}
			reader.readAsDataURL(f); 
    // end show image preview
		});

	}
	
	/*Upload file to server via FormData()*/
	function handleForm(e) {
		e.preventDefault();
		var dataF = new FormData();
		var len = storedFiles.length;
		for (var i = 0; i < len; i++) {
			dataF.append("files", storedFiles[i]);
		}

    $.ajax({
        url:'/upload-multiple',
        type:'post',
        data: dataF, // Là cách truyền giá trị của form sang trang xử lý
        mimeTypes:"multipart/form-data", // Thuộc tính đi kèm theo để nhận giá trị truyền sang trang xử lý
        contentType: false,
        cache: false,
        processData: false, 
        success: function(data) {
            // Kiểm tra lỗi nếu có
            if (data != "") {
                alert(data);
            }else{
                window.location.reload();
            }
        },
    });
	}
	
	/*Remove file before upload to server*/	
	function removeFile(e) {
      var file = $(this).data("file");
      for(var i=0; i < storedFiles.length; i++) {
        if(storedFiles[i].name === file) {
          storedFiles.splice(i,1);
          break;
        }
      }
      $(this).parent().remove();
	}
</script>

</body>
</html>